body{
background-color:#9c9f84;
margin:0px;
font-family:Georgia,serif;
font-size:15px;
}
.header{
	padding-top:10px;
color:#9c9f84;
margin-left:10px;
margin-right:10px;
margin-top:5px;
margin-bottom:0px;
height:110px;
text-align:center;
font-style:bold;
font-size:20px;
border-radius:5px;
background-image:url(military_camouflage_patterns.jpg);
/*opacity:1.0;
transition:opacity 0.5s ease-in-out;
*/
position:relative;
	top:50%;
	/*-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);*/
	}
	
.main{
background-color:#e5e4d7;
margin-left:10px;
margin-right:320px;
margin-top:10px;
margin-bottom:10px;
border-radius:5px;
padding:20px;
font-size:100%;
line-height:1.5em;
}