/* -----------------LAYOUT SECTION-----------------*/
body{
background-color:#9c9f84;
margin:0px;
font-family:Georgia,serif;
font-size:15px;
}
#IAcolor{
	color:rgb(249,192,60);
}
#IAFcolor{
	color:rgb(70,196,202);
}
#INcolor{
	color:navy;
}
.para1{
	padding-top:10px;
color:#9c9f84;
margin-left:10px;
margin-right:10px;
margin-top:5px;
margin-bottom:0px;
height:110px;
text-align:center;
font-style:bold;
font-size:50px;
border-radius:10px;
background-image:url(military_camouflage_patterns.jpg);
/*opacity:1.0;
transition:opacity 0.5s ease-in-out;
*/
/*position:relative;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);*/
	}
#box2{
	padding:40px;
	margin:100px;
	margin-bottom:0px;
/*	margin-top:50px;
	margin-bottom:50px;
	*/background-color:lightgrey;
	box-shadow:inset 0 0 15px black;
}
#navbar ul {
padding:5px;
list-style-type:none;
text-align:left;
background-color:#000;
margin:10px;
border-radius:5px;
}

#navbar ul  li {
display:inline;
}

#navbar ul li a{
	text-decoration:none;
	font-family:Arial;
	padding: .2em 1em;
	color:silver;
	background-color:#000;
	
}

#navbar ul li a:hover {
	color:green;
	/*background-color:white;*/
}

.indexmain{
background-color:#e5e4d7;
margin-left:10px;
margin-right:320px;
margin-top:10px;
margin-bottom:10px;
border-radius:5px;
padding:20px;
font-size:100%;
line-height:1.5em;
}
.main{
background-color:#e5e4d7;
margin-left:330px;
margin-right:320px;
margin-top:10px;
margin-bottom:10px;
border-radius:5px;
padding:20px;
padding-bottom:5px;
font-size:100%;
line-height:1.5em;
}

.leftimagesidebar{
margin-left:10px;
margin-right:10px;
margin-top:10px;
margin-bottom:10px;
border-radius:5px;
float:left;
width:300px;
height:400px;
clear:left;
transition:opacity 0.5s ease-in-out;
opacity:1.0; /*btwn 0-1*/
}

.rightsidebar{
background-color:#e5e4d7;
margin-left:10px;
margin-right:10px;
margin-top:10px;
margin-bottom:10px;
border-radius:5px;
padding:20px;
font-size:105%;
float:right;
width:260px;
	/*Add 260+20x2+10x2=320...therefore,margin-right=320px in .main*/
}
.leftsidebar{
background-color:#e5e4d7;
margin-left:10px;
margin-right:10px;
margin-top:10px;
margin-bottom:10px;
border-radius:5px;
padding:10px;
font-size:105%;
float:left;
width:260px;
	/*Add 260+20x2+10x2=320...therefore,margin-right=320px in .main*/
}
.rightimagesidebarfirst{
margin-left:10px;
margin-right:10px;
margin-top:20px;
margin-bottom:30px;
border-radius:5px;
float:right;
width:300px;
height:400px;
right:400px;
clear:right;
transition:opacity 0.5s ease-in-out;
opacity:1.0; /*btwn 0-1*/
}
.rightimagesidebar{
margin-left:10px;
margin-right:10px;
margin-top:0px;
margin-bottom:10px;
border-radius:5px;
float:right;
width:300px;
right:400px;
clear:right;
transition:opacity 0.5s ease-in-out;
opacity:1.0; /*btwn 0-1*/
}

.profileimagesidebar{
margin-left:10px;
margin-right:10px;
margin-top:20px;
margin-bottom:30px;
border-radius:10px;
float:right;
width:300px;
height:400px;
right:400px;
clear:right;
transition:opacity 0.5s ease-in-out;
opacity:1.0; /*btwn 0-1*/
}

.rightimagesidebar:hover{
	opacity:0.4;
}
.rightimagesidebarfirst:hover{
	opacity:0.4;
}
.leftimagesidebar:hover{
	opacity:0.4;
}
#footer{
	background-color:#5c755e;
	margin-left:10px;
	margin-right:10px;
	margin-top:90px;
	margin-bottom:10px;
	height:60px;
	border-radius:5px;
	color:#efe5d0;
	text-align:center;
	padding:16px;
	font-size:90%;
	clear:right;
}

#footer ul {
padding:5px;
list-style-type:none;
text-align:center;
margin:10px;
border-radius:5px;
}

#footer ul  li {
display:inline;
}

#footer ul li a{
	text-decoration:none;
	font-family:Arial;
	padding: .2em 1em;
	color:white;
	
}

#footer ul li a:hover {
	color:#000;
	background-color:silver;
}
/* --------------------HEADING SECTION------------------*/


h1{
	font-size:120%;
	color:olive;
}

h2{
	font-size:120%;
	color:olive;
}

h3{
	font-size:200%;
	text-align:center;
	color:#e5e4d7;
	font-family:"Century Gothic","Gill Sans",Arial,sans serif;
	margin:0px;
	
	
	position:relative;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);

}

/* --------------------BUTTON SECTION------------------*/




/* --------------------ANIMATION SECTION------------------*/